---
layout: default
---
<!-- Posts -->
<!-- <ul id="posts">

	{% for post in paginator.posts %}

	  <li class="post">
	  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h2>
	  	<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
	  	<p>{{ post.content | strip_html | truncatewords:50 }}</p>
	  </li>

    {% endfor %}

</ul> -->

<h2>Python</h2>
<h3><a href="/why-learn-python">Why Learn Python?</a></h3>
<h3><a href="/start-writing-python-with-google-colab">Start Writing Python with Google Colab</a></h3>
<h3><a href="/declare-variables-in-python">Declare Variables in Python</a></h3>
<h3><a href="/math-with-python">Math with Python</a></h3>
<hr>

<h2>Pandas</h2>
<h3><a href='/pandas-display-options'>Pandas Display Options</a></h3>
<hr>

<h2>Deep Learning</h2>
<h3><a href="https://towardsdatascience.com/image-augmentation-for-deep-learning-using-keras-and-histogram-equalization-9329f6ae5085">Image Augmentation for Deep Learning using Keras and Histogram Equalization</a></h3>
