<footer class="footer">
	<span><a href="/">LambdaChops.com</a></span>
	<ul class="footer-social">
		<li><a href="https://twitter.com/ryanallred"><i class="fa fa-twitter-square"></i></a></li>
		<li><a href="https://www.linkedin.com/in/ryan-allred-2150bb13/"><i class="fa fa-linkedin-square"></i></a></li>
		<li><a href="http://lambdachops.com/atom.xml"><i class="fa fa-rss-square"></i></a></li>
		<li><a href="http://github.com/ryanleeallred"><i class="fa fa-github-square"></i></a></li>
	</ul>
</footer>